
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Random Quotes</title>
    <!-- Custom styles for this template -->
    <link href="css/index.css" rel="stylesheet">
  </head>


  <body class=" ">

    <div class="nav">
      <h1>Random Quotes</h1>
      <div class="date">
        <%= kindDay %>
      </div>
    </div>

<div class="main">
  


  <main class="quote">
    <p><%= quote %> </p>
  </main>

  <form action="/" method="post">
    <p class="lead">
      <button>Refresh</button>
        
      </p>
</form>

  <footer>
    <p>Project</p>
  </footer>
</div>


    
  </body>
</html>
